Source: fastcgi-daemon2
Priority: optional
Maintainer: Ilya Golubtsov <golubtsov@yandex-team.ru>
Build-Depends: debhelper (>= 4.0.0),
 automake1.9,
 autotools-dev,
 libboost-dev,
 libboost-thread-dev,
 libfcgi-dev,
 libxml2-dev,
 libboost-regex-dev,
 libtool,
 pkg-config,
 libssl-dev,
 autoconf-archive
Standards-Version: 3.6.1
Section: libs

Package: libfastcgi-daemon2
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, libfcgi0c2 | libfcgi0 | libfcgi0ldbl
Description: fastcgi-daemon is an application server for FastCGI
 applications wtiteen in C++. This is the core package.

Package: libfastcgi-daemon2-dev
Section: libdevel
Architecture: any
Depends: libfastcgi-daemon2 (=${Source-Version}), libboost-regex-dev, libfcgi-dev
Description: fastcgi-daemon is an application server for FastCGI
 applications wtiteen in C++. Headers and libraries to develop modules.

Package: libfastcgi2-syslog
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, libfastcgi-daemon2 (=${Source-Version})
Description: fastcgi-daemon is an application server for FastCGI
 applications wtiteen in C++. Binary to execute server.

Package: libfastcgi2-filelogger
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, libfastcgi-daemon2 (=${Source-Version})
Description: fastcgi-daemon is an application server for FastCGI
 applications wtiteen in C++. Binary to execute server.

Package: libfastcgi2-request-cache
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, libfastcgi-daemon2 (=${Source-Version})
Description: fastcgi-daemon is an application server for FastCGI
 applications wtiteen in C++. Binary to execute server.

Package: libfastcgi2-statistics
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, libfastcgi-daemon2 (=${Source-Version})
Description: fastcgi-daemon is an application server for FastCGI
 applications wtiteen in C++. Binary to execute server.

Package: fastcgi-daemon2
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, libfastcgi-daemon2 (=${Source-Version})
Description: fastcgi-daemon is an application server for FastCGI
 applications wtiteen in C++. Binary to execute server.

Package: fastcgi-daemon2-init
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, fastcgi-daemon2 (=${Source-Version})
Description: fastcgi-daemon-init is init scripts packet for fastcgi-daemon

